
<html layout:decorate="~{layout}">
<div layout:fragment="content">
    <table border="1">
        <thead>
            <tr>
                <th>변호</th>
                <th>제목</th>
                <th>작성일시</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="q:${questions}">
                <th>[[${q.id}]]</th>
                <td>
                    <a th:href="@{|/question/detail/${q.id}|}" th:text="${q.subject}">

                    </a>
                </td>
                <td>[[${q.createDate}]]</td>
            </tr>
        </tbody>
    </table>
</div>
</html>